In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
file = "Data/RAW_data/Public_Assistance_Summary.xlsx"

In [3]:
# Read our Data file for PAS with the pandas library
data = pd.read_excel(file)
data_df = pd.DataFrame(data)
data_df

,disasterNumber,declarationDate,Year,incidentType,pwNumber,applicationTitle,applicantId,damageCategoryCode,dcc,damageCategory,...,state,stateCode,stateNumberCode,projectAmount,federalShareObligated,totalObligated,obligatedDate,hash,lastRefresh,id
0,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,98,PREPA EMERGENCY POWER PLANT FUEL,000-UA2QU-00,B - Protective Measures,B,Protective Measures,...,Puerto Rico,PR,72,-1.712000e+08,-1.712000e+08,-1.712000e+08,2017-12-29T18:35:38.000Z,bf62859735f9193c7af6b8dc198a7f6b,2020-01-10T02:57:21.307Z,5e17e811c3cdaf7453b29428
1,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,393,UUMIZ02 Incoming Crew Costs,000-UUMIZ-00,F - Public Utilities,F,Public Utilities,...,New York,NY,36,-8.008118e+07,-7.207306e+07,-7.207306e+07,2014-10-28T15:44:22.000Z,cf4de201d89a487a6d62e2f7ada81d95,2020-01-10T02:54:30.749Z,5e17e766c3cdaf7453b0d7d3
2,4086,2012-10-30T08:34:00.000Z,2012,Hurricane,4846,UCT2E59 Navigable Channels,000-UCT2E-00,A - Debris Removal,A,Debris Removal,...,New Jersey,NJ,34,-6.157552e+07,-5.541797e+07,-5.541797e+07,2017-08-21T22:38:01.000Z,add4a33f768037ebaf32e66cb9f542c4,2020-01-10T02:54:55.020Z,5e17e77fc3cdaf7453b11747
3,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,50,51000HH Emergency Protective Measures - Expedited,061-51000-30,B - Protective Measures,B,Protective Measures,...,New York,NY,36,-6.139953e+07,-5.525958e+07,-5.525958e+07,2014-08-08T16:41:39.000Z,af2a37b5f4797f9841943d71cb988c22,2020-01-10T02:54:29.690Z,5e17e765c3cdaf7453b0d4d6
4,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,2,9905901 - Citywide Debris Removal,059-99059-01,A - Debris Removal,A,Debris Removal,...,New York,NY,36,-4.636430e+07,-4.172787e+07,-4.172787e+07,2013-10-11T16:34:46.000Z,d768b908860625a570fb325459ec25e9,2020-01-10T02:54:29.460Z,5e17e765c3cdaf7453b0d466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315641,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,251,251E2- AEE002 EMP COBRA CONTRACT,000-UA2QU-00,B - Protective Measures,B,Protective Measures,...,Puerto Rico,PR,72,7.454298e+08,7.454298e+08,7.454298e+08,2018-03-08T23:47:37.000Z,5176691c7cd35eed80c31319605e314a,2020-01-10T02:57:21.732Z,5e17e811c3cdaf7453b29557
315642,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,3714,NAS0008 - Wastewater Facilities PAAP,059-99059-01,F - Public Utilities,F,Public Utilities,...,New York,NY,36,8.107084e+08,7.296375e+08,7.296375e+08,2014-09-18T22:40:35.000Z,7bd844160957c74e81d4fa7d56530c65,2020-01-10T02:54:38.239Z,5e17e76ec3cdaf7453b0eb72
315643,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,4539,510HH04 - Coney Island Hospital - I PAAP (HHC),061-51000-41,E - Public Buildings,E,Public Buildings,...,New York,NY,36,9.227436e+08,8.304693e+08,8.304693e+08,2015-07-09T20:38:14.000Z,32a736c385a8a6aec95c60fde5245382,2020-01-10T02:54:39.924Z,5e17e76fc3cdaf7453b0efd9
315644,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,367,UUMIZ01 Overhead Power Distribution Lines,000-UUMIZ-00,F - Public Utilities,F,Public Utilities,...,New York,NY,36,9.759239e+08,8.783315e+08,8.783315e+08,2014-09-18T22:40:35.000Z,a5b3c03987d1b7c8990f5463d14b9399,2020-01-10T02:54:30.659Z,5e17e766c3cdaf7453b0d773
315645,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,4005,NYULM22 - PAAP Campuswide Repair Capped Grant,061-U7SWM-00,E - Public Buildings,E,Public Buildings,...,New York,NY,36,1.091636e+09,9.824720e+08,9.824720e+08,2014-08-21T22:21:56.000Z,7573af8a8706cda14721b8f094cfc6a4,2020-01-10T02:54:38.789Z,5e17e76ec3cdaf7453b0ecc4

In [4]:
# print out column names
for column in data_df.columns:
    print(column)

disasterNumber
declarationDate
Year
incidentType
pwNumber
applicationTitle
applicantId
damageCategoryCode
dcc
damageCategory
projectSize
county
countyCode
state
stateCode
stateNumberCode
projectAmount
federalShareObligated
totalObligated
obligatedDate
hash
lastRefresh
id

In [5]:
modifiedData = data_df[['disasterNumber', 
                        'declarationDate', 
                        'Year', 
                        'incidentType',
                        'dcc',
                        'damageCategory',
                        'county',
                        'state',
                        'totalObligated',
                        'obligatedDate']]
modifiedData

,disasterNumber,declarationDate,Year,incidentType,dcc,damageCategory,county,state,totalObligated,obligatedDate
0,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Puerto Rico,-1.712000e+08,2017-12-29T18:35:38.000Z
1,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,F,Public Utilities,Statewide,New York,-7.207306e+07,2014-10-28T15:44:22.000Z
2,4086,2012-10-30T08:34:00.000Z,2012,Hurricane,A,Debris Removal,Statewide,New Jersey,-5.541797e+07,2017-08-21T22:38:01.000Z
3,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,B,Protective Measures,New York,New York,-5.525958e+07,2014-08-08T16:41:39.000Z
4,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,A,Debris Removal,Nassau,New York,-4.172787e+07,2013-10-11T16:34:46.000Z
...,...,...,...,...,...,...,...,...,...,...
315641,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Puerto Rico,7.454298e+08,2018-03-08T23:47:37.000Z
315642,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,F,Public Utilities,Nassau,New York,7.296375e+08,2014-09-18T22:40:35.000Z
315643,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,E,Public Buildings,New York,New York,8.304693e+08,2015-07-09T20:38:14.000Z
315644,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,F,Public Utilities,Statewide,New York,8.783315e+08,2014-09-18T22:40:35.000Z
315645,4085,2012-10-30T08:34:00.000Z,2012,Hurricane,E,Public Buildings,New York,New York,9.824720e+08,2014-08-21T22:21:56.000Z

In [6]:
#Dropping years
drop2010 = modifiedData[modifiedData.Year != 2010]
drop2011 = drop2010[drop2010.Year != 2011]
drop2012 = drop2011[drop2011.Year != 2012]
drop2013 = drop2012[drop2012.Year != 2013]
drop2014 = drop2013[drop2013.Year != 2014]
drop2015 = drop2014[drop2014.Year != 2015]
finalYears = drop2015[drop2015.Year != 2020]
finalYears

,disasterNumber,declarationDate,Year,incidentType,dcc,damageCategory,county,state,totalObligated,obligatedDate
0,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Puerto Rico,-1.712000e+08,2017-12-29T18:35:38.000Z
12,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,Z,State Management,Statewide,Puerto Rico,-1.800000e+07,2018-06-20T19:13:23.000Z
13,4335,2017-09-07T16:15:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Virgin Islands of the U.S.,-1.633323e+07,2017-11-08T19:10:26.000Z
14,4340,2017-09-21T02:30:00.000Z,2017,Hurricane,A,Debris Removal,Statewide,Virgin Islands of the U.S.,-1.621460e+07,2018-07-05T22:43:38.000Z
20,4337,2017-09-10T18:45:00.000Z,2017,Hurricane,G,Recreational or Other,St. Lucie,Florida,-9.527376e+06,2020-02-07T07:34:19.000Z
...,...,...,...,...,...,...,...,...,...,...
315630,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Puerto Rico,2.842304e+08,2018-11-16T20:05:28.000Z
315633,4340,2017-09-21T02:30:00.000Z,2017,Hurricane,F,Public Utilities,Statewide,Virgin Islands of the U.S.,2.384127e+08,2018-04-24T22:58:47.000Z
315637,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Puerto Rico,4.439527e+08,2019-01-02T23:18:21.000Z
315639,4407,2018-11-13T01:28:00.000Z,2018,Fire,A,Debris Removal,Statewide,California,4.914622e+08,2020-01-09T01:30:39.000Z
315641,4339,2017-09-21T01:00:00.000Z,2017,Hurricane,B,Protective Measures,Statewide,Puerto Rico,7.454298e+08,2018-03-08T23:47:37.000Z

In [7]:
#confirm years are what we wante (2016-2019)
finalYears.Year.unique()

array([2017, 2016, 2018, 2019])

In [8]:
#find all incident types
finalYears.incidentType.unique()

array(['Hurricane', 'Flood', 'Severe Storm(s)', 'Snow', 'Tornado',
       'Severe Ice Storm', 'Fire', 'Coastal Storm', 'Volcano',
       'Mud/Landslide', 'Earthquake', 'Typhoon'], dtype=object)

In [9]:
#Pull wanted columns
disasterData = finalYears[['disasterNumber',  
                        'Year', 
                        'incidentType',
                        'state']]

# rename column of declariation date to count of incidents
renamedDisaster = disasterData.rename(columns={"disasterNumber": "Count of Incidents",
                                            "incidentType": "Incident Type",
                                            "state": "State"})

#Count disasters incidents for each state (DESIRED YEARS AND ALL INCIDENTS)
countDisaster = renamedDisaster.groupby(['Year','State','Incident Type'])['Count of Incidents'].nunique()
countDisaster= pd.DataFrame(countDisaster)
countDisaster

                                           Count of Incidents
Year State                Incident Type
2016 Alabama              Severe Storm(s)                   1
     Alaska               Severe Storm(s)                   1
     Arkansas             Severe Storm(s)                   2
     Delaware             Snow                              1
     District of Columbia Snow                              1
...                                                       ...
2019 Texas                Flood                             1
     Vermont              Flood                             1
     Washington           Severe Storm(s)                   1
     West Virginia        Flood                             1
     Wisconsin            Flood                             1

[169 rows x 1 columns]

In [10]:
#Total Obligated amounts by FEMA by State (DESIRED YEARS AND ALL INCIDENTS)
obligated = finalYears[['totalObligated',  
                        'Year', 
                        'incidentType',
                        'state']]

# rename column of declariation date to count of incidents
renamedObligated = obligated.rename(columns={"totalObligated": "Total Obligated",
                                            "incidentType": "Incident Type",
                                            "state": "State"})

#Total Obligated amounts by FEMA by State (DESIRED YEARS AND ALL INCIDENTS)
totalObligated = renamedObligated.groupby(['Year','State','Incident Type']).sum()
totalObligated

                                           Total Obligated
Year State                Incident Type
2016 Alabama              Severe Storm(s)      37435207.15
     Alaska               Severe Storm(s)      11464133.02
     Arkansas             Severe Storm(s)      14482213.50
     Delaware             Snow                  1602711.50
     District of Columbia Snow                 16996776.09
...                                                    ...
2019 Texas                Flood                46155531.22
     Vermont              Flood                  941649.98
     Washington           Severe Storm(s)       8234994.05
     West Virginia        Flood                 2699880.27
     Wisconsin            Flood                 4568654.97

[169 rows x 1 columns]

In [38]:
#Merge total obligated table aand disaster count table broken down by year
mergeYear = pd.concat([countDisaster, totalObligated], axis=1, sort=False)
mergeYear['Total Obligated'].round(decimals=2)
mergeYear

                                           Count of Incidents  Total Obligated
Year State                Incident Type
2016 Alabama              Severe Storm(s)                   1      37435207.15
     Alaska               Severe Storm(s)                   1      11464133.02
     Arkansas             Severe Storm(s)                   2      14482213.50
     Delaware             Snow                              1       1602711.50
     District of Columbia Snow                              1      16996776.09
...                                                       ...              ...
2019 Texas                Flood                             1      46155531.22
     Vermont              Flood                             1        941649.98
     Washington           Severe Storm(s)                   1       8234994.05
     West Virginia        Flood                             1       2699880.27
     Wisconsin            Flood                             1       4568654.97

[169 rows x 2 columns]

In [39]:
mergeYear.dtypes

Count of Incidents      int64
Total Obligated       float64
dtype: object

In [12]:
#months incidents occured
date = finalYears[['declarationDate',  
                        'Year', 
                        'incidentType',
                        'state',
                        'disasterNumber']]
date

,declarationDate,Year,incidentType,state,disasterNumber
0,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339
12,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339
13,2017-09-07T16:15:00.000Z,2017,Hurricane,Virgin Islands of the U.S.,4335
14,2017-09-21T02:30:00.000Z,2017,Hurricane,Virgin Islands of the U.S.,4340
20,2017-09-10T18:45:00.000Z,2017,Hurricane,Florida,4337
...,...,...,...,...,...
315630,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339
315633,2017-09-21T02:30:00.000Z,2017,Hurricane,Virgin Islands of the U.S.,4340
315637,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339
315639,2018-11-13T01:28:00.000Z,2018,Fire,California,4407
315641,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339

In [13]:
# new data frame with split value columns 
new = date["declarationDate"].str.split("-", n = 2, expand = True) 

# making separate month column from new data frame 
date["month"]= new[1] 

#change numeric month to month name
date['month'] = pd.to_datetime(date['month'], format='%m').dt.month_name().str.slice(stop=3)

date

/Users/jasminschaefer/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/jasminschaefer/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,declarationDate,Year,incidentType,state,disasterNumber,month
0,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339,Sep
12,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339,Sep
13,2017-09-07T16:15:00.000Z,2017,Hurricane,Virgin Islands of the U.S.,4335,Sep
14,2017-09-21T02:30:00.000Z,2017,Hurricane,Virgin Islands of the U.S.,4340,Sep
20,2017-09-10T18:45:00.000Z,2017,Hurricane,Florida,4337,Sep
...,...,...,...,...,...,...
315630,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339,Sep
315633,2017-09-21T02:30:00.000Z,2017,Hurricane,Virgin Islands of the U.S.,4340,Sep
315637,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339,Sep
315639,2018-11-13T01:28:00.000Z,2018,Fire,California,4407,Nov
315641,2017-09-21T01:00:00.000Z,2017,Hurricane,Puerto Rico,4339,Sep

In [14]:
# rename column of declariation date to count of incidents
renamedOccur = date.rename(columns={"disasterNumber": "Count of Incidents",
                                         "state": "State",
                                         "incidentType": "Incident Type",
                                         "month": "Month"})

# #obtain count of incidents per month for each year
monthOccur = renamedOccur.groupby(['Year','State','Incident Type','Month'])['Count of Incidents'].nunique()
monthOccur= pd.DataFrame(monthOccur)
monthOccur

                                          Count of Incidents
Year State         Incident Type   Month
2016 Alabama       Severe Storm(s) Jan                     1
     Alaska        Severe Storm(s) Feb                     1
     Arkansas      Severe Storm(s) Feb                     1
                                   May                     1
     Delaware      Snow            Mar                     1
...                                                      ...
2019 Texas         Flood           Feb                     1
     Vermont       Flood           Jun                     1
     Washington    Severe Storm(s) Mar                     1
     West Virginia Flood           Aug                     1
     Wisconsin     Flood           Aug                     1

[209 rows x 1 columns]

In [15]:
#obligated costs for each incident
cost = finalYears[['totalObligated',  
                        'Year', 
                        'incidentType',
                        'state',
                        'declarationDate']]
cost

,totalObligated,Year,incidentType,state,declarationDate
0,-1.712000e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z
12,-1.800000e+07,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z
13,-1.633323e+07,2017,Hurricane,Virgin Islands of the U.S.,2017-09-07T16:15:00.000Z
14,-1.621460e+07,2017,Hurricane,Virgin Islands of the U.S.,2017-09-21T02:30:00.000Z
20,-9.527376e+06,2017,Hurricane,Florida,2017-09-10T18:45:00.000Z
...,...,...,...,...,...
315630,2.842304e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z
315633,2.384127e+08,2017,Hurricane,Virgin Islands of the U.S.,2017-09-21T02:30:00.000Z
315637,4.439527e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z
315639,4.914622e+08,2018,Fire,California,2018-11-13T01:28:00.000Z
315641,7.454298e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z

In [16]:
# new data frame with split value columns 
new = cost["declarationDate"].str.split("-", n = 2, expand = True) 

# making separate month column from new data frame 
cost["month"]= new[1] 

#change numeric month to month name
cost['month'] = pd.to_datetime(cost['month'], format='%m').dt.month_name().str.slice(stop=3)

cost

/Users/jasminschaefer/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/jasminschaefer/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,totalObligated,Year,incidentType,state,declarationDate,month
0,-1.712000e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z,Sep
12,-1.800000e+07,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z,Sep
13,-1.633323e+07,2017,Hurricane,Virgin Islands of the U.S.,2017-09-07T16:15:00.000Z,Sep
14,-1.621460e+07,2017,Hurricane,Virgin Islands of the U.S.,2017-09-21T02:30:00.000Z,Sep
20,-9.527376e+06,2017,Hurricane,Florida,2017-09-10T18:45:00.000Z,Sep
...,...,...,...,...,...,...
315630,2.842304e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z,Sep
315633,2.384127e+08,2017,Hurricane,Virgin Islands of the U.S.,2017-09-21T02:30:00.000Z,Sep
315637,4.439527e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z,Sep
315639,4.914622e+08,2018,Fire,California,2018-11-13T01:28:00.000Z,Nov
315641,7.454298e+08,2017,Hurricane,Puerto Rico,2017-09-21T01:00:00.000Z,Sep

In [17]:
# rename column of declariation date to count of incidents
renamedCost = cost.rename(columns={"totalObligated": "Total Obligated",
                                         "state": "State",
                                         "incidentType": "Incident Type",
                                         "month": "Month"})

#obtain count of incidents per month for each year
monthCost = renamedCost.groupby(['Year','State','Incident Type','Month']).sum()
monthCost

                                          Total Obligated
Year State         Incident Type   Month
2016 Alabama       Severe Storm(s) Jan        37435207.15
     Alaska        Severe Storm(s) Feb        11464133.02
     Arkansas      Severe Storm(s) Feb        12116962.16
                                   May         2365251.34
     Delaware      Snow            Mar         1602711.50
...                                                   ...
2019 Texas         Flood           Feb        46155531.22
     Vermont       Flood           Jun          941649.98
     Washington    Severe Storm(s) Mar         8234994.05
     West Virginia Flood           Aug         2699880.27
     Wisconsin     Flood           Aug         4568654.97

[209 rows x 1 columns]

In [44]:
#Merge total obligated table aand disaster count table broken down by year
mergeMonth = pd.concat([monthOccur, monthCost], axis=1, sort=False)
mergeMonth['Total Obligated'].round(decimals=2)
mergeMonth

                                          Count of Incidents  Total Obligated
Year State         Incident Type   Month
2016 Alabama       Severe Storm(s) Jan                     1    37,435,207.15
     Alaska        Severe Storm(s) Feb                     1    11,464,133.02
     Arkansas      Severe Storm(s) Feb                     1    12,116,962.16
                                   May                     1     2,365,251.34
     Delaware      Snow            Mar                     1     1,602,711.50
...                                                      ...              ...
2019 Texas         Flood           Feb                     1    46,155,531.22
     Vermont       Flood           Jun                     1       941,649.98
     Washington    Severe Storm(s) Mar                     1     8,234,994.05
     West Virginia Flood           Aug                     1     2,699,880.27
     Wisconsin     Flood           Aug                     1     4,568,654.97

[209 rows x 2 columns]

In [46]:
mergeMonth.dtypes

Count of Incidents      int64
Total Obligated       float64
dtype: object

In [45]:
#Export CSVs
mergeMonth.to_csv('Data/Disaster_cost_by_month.csv', float_format='%.2f')
mergeYear.to_csv('Data/Disaster_cost_by_year.csv', float_format='%.2f')